/* Web Fonts ----------------------- */
@font-face {
  src: url('../fonts/abolition-regular-webfont.woff') format('woff');
  font-family: 'Abolition Regular';
}

/* Base Styles --------------------- */
* {
  box-sizing: border-box;
}
html {
  font-size: 1.25em; /* 20px on most screens */  
}
body {
  font-family: 'Bubblegum Sans', sans-serif;
  color: #454959;
  font-weight: 300;
}
h1, h2 {
  font-family: 'Abolition Regular', Impact, Charcoal, sans-serif;
  font-weight: normal;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.25rem;
}
img {
  width: 100%; /* responsive images */
}


/* Main Styles --------------------- */


/* Media Queries ------------------- */

